<ngx-alerts></ngx-alerts>
<mat-toolbar class="mat-elevation-z4" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button
            *ngIf="!authService.isTokenExpired();"
            (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>TUBERFIL</span>

    <!--TODO: Add rotas aqui-->
    <!-- <a mat-button> Contato </a> -->
    <!-- <span class="spacer"></span> -->

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <a mat-button
             [routerLink]="['login']"
             routerLinkActive="active"
             *ngIf="authService.isTokenExpired();"> Entrar
          </a>
          <a *ngIf="!authService.isTokenExpired();">Bem vindo {{authService.decodedToken?.name}}</a> <!-- ? - diz ao angular que pode ser opcional -->
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu"
                      *ngIf="!authService.isTokenExpired();"
                      matTooltip="Opções do usuário"
                      matTooltipShowDelay="500"
                      matTooltipPosition="left">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item
                    (click)="logOut()">
              <mat-icon>exit_to_app</mat-icon>
              Sair
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
