<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Impressão de Patrimônio</span>
  </mat-toolbar-row>
</mat-toolbar>

<form #formControl="ngForm" (ngSubmit)="submit" class="container" fxLayout="column">

  <div class="input-row">
    <mat-form-field class="form-control" color="accent" fxFlex>
      <input matInput type="text" placeholder="Denominação" required>
      <mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>

  <div class="input-row">
    <mat-form-field color="accent" fxFlex>
      <input matInput type="text"  placeholder="Denominação Complementar">
    </mat-form-field>
  </div>

  <div class="input-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutGap.lt-sm="0px">
    <mat-form-field color="accent" fxFlex="80%">
      <input matInput class="form-control" type="number" placeholder="N° do Imobilizado" required>
      <mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field color="accent" fxFlex>
      <input matInput class="form-control" type="number" placeholder="Sub Nº" required>
      <mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>

  <div class="input-row">
    <mat-form-field color="accent" fxFlex>
      <input matInput class="form-control" type="text" placeholder="Classe" required>
      <mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>

  <div class="input-row"> <!-- Não vai para etiqueta -->
    <mat-form-field color="accent" fxFlex>
      <input matInput type="number" placeholder="Nº Inventário">
    </mat-form-field>
  </div>

  <div class="input-row"> <!-- Não vai para etiqueta -->
    <mat-form-field color="accent" fxFlex>
      <input matInput type="text" placeholder="Centro de custo">
    </mat-form-field>
  </div>

  <div class="input-row">
    <mat-form-field color="accent" fxFlex="0 0 auto">
      <input class="form-control"
             matInput
             placeholder="Incorporação"
             [matDatepicker]="dpCapitalizedOn"
             name="dpCapitalizedOn"
             required>
      <mat-datepicker-toggle matSuffix [for]="dpCapitalizedOn"></mat-datepicker-toggle>
      <mat-datepicker #dpCapitalizedOn></mat-datepicker>
      <mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <ul fxLayout="row" fxLayoutGap="20px">
      <button class="mat-elevation-z2"
              matTooltip="Imprimir Etiqueta"
              matTooltipShowDelay="500"
              mat-button
              [type]="submit"
              [disabled]="!formControl.valid"
              (click)="onPrint()"
              >
        <mat-icon>printer</mat-icon>
      Imprimir</button>
    </ul>
  </div>

</form>


<!-- <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center" fxLayoutAlign.gt-sm="center start">
  <div fxFlex="50%" fxFlex.gt-sm="75%">Item 1</div>
  <div fxFlex="50%" fxFlex.gt-sm="25%">Item 2</div>
</div> -->
