<div fxLayout="column" class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Identifique-se</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Entrar">


          <mat-card-content >
            <form #fEntrar="ngForm" (ngSubmit)="onSubmit(fEntrar)">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Usuário"
                  required
                  name="userName"
                  ngModel
                  #userName="ngModel">
                  <mat-error *ngIf="userName.invalid">Digite seu usuário!</mat-error>
                <mat-icon matSuffix>person</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Senha"
                  type="password"
                  required
                  minlength="8"
                  name="password"
                  ngModel
                  #password="ngModel">
                  <mat-error
                    *ngIf="password.errors && password.errors.required">
                    Digite sua senha!
                  </mat-error>
                  <mat-error
                    *ngIf="password.errors && password.errors.minlength">
                    Senha precisa conter ao menos 8 caracteres.
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                [disabled]="fEntrar.invalid"
                class="login-button">
                Entrar
              </button>
            </form>

            <div class="ldap-status" fxLayout="row">
              <ul fxLayout="row">
                <li>
                  <a mat-button
                          [disabled]="!isLDAPServerOk"
                          matTooltip="Estado de conexão com servidor LDAP"
                          matTooltipShowDelay="500">
                    <mat-icon>domain</mat-icon>
                  </a>
                  <!-- <mat-icon *ngIf="isLDAPServerOk">domain</mat-icon> -->
                </li>
                <li>
                  <a >{{ statusLDAPServer }}</a>
                </li>
              </ul>
            </div>

          </mat-card-content>


      </mat-tab>

    </mat-tab-group>
  </mat-card>
</div>

