<div class="container">
  <h3 mat-dialog-objeto>ID - Contrato: {{data.id}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Objeto" [(ngModel)]="data.objeto" name="objeto" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    
    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Estabelecimento Fiscal" [(ngModel)]="data.estabFiscal" name="estabFiscal">
        </mat-form-field>
    </div>
    
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Parceiro" [(ngModel)]="data.parceiro" name="parceiro">
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="CNPJ" [(ngModel)]="data.cnpj" name="cnpj" maxlength="14" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/14</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Status" [(ngModel)]="data.status" name="status">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Situação" [(ngModel)]="data.situacao" name="situacao">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Depto. Particiantes" [(ngModel)]="data.deptoPartList" name="deptoPartList">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Valor Total" [(ngModel)]="data.valTotal" name="valTotal">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Início do Contrato" [(ngModel)]="data.dataInicio" name="dataInicio">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Fim do Contrato" [(ngModel)]="data.dataFim" name="dataFim">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Salvar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>
