.container {
	display: flex;
	flex-direction: column;
	min-width: 450px;
	>* {
		width: 100%;
	}
}
.form {
	display: flex;
	font-size: 0.85vw;
	padding-top: 6px;
}

/* Mat table */
.no-results {
	display: flex;
	justify-content: center;
	padding: 14px;
	font-size: 14px;
	font-style: italic;
}
.mat-cell {
  white-space: nowrap;
  font-size: 0.85vw; // Não existia
  padding: 0px 16px 0px 0px;
	&:nth-child(1) {
		flex: 0 0 80%;
	}
	&:nth-child(2) {
    flex: 0 0 20%;
  }
}
.mat-header-cell {
  padding: 0px 16px 0px 0px;
  white-space: nowrap;
  font-size: 0.9vw; // Não existia
	&:nth-child(1) {
		flex: 0 0 80%;
	}
	&:nth-child(2) {
    flex: 0 0 20%;
  }
}
.mat-form-field {
  flex-grow: 1;
}
