<div class="container">
  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <table align="center" cellspacing="0" cellpadding="3">
      <tbody>
        <tr>
          <th>Coluna1</th>
          <th>Coluna2</th>
          <th>Coluna3</th>
        </tr>
        <tr>
          <td colspan="3">
            <div class="form">
              <td align="left" class="label" >
                <div class="form">
                  <mat-form-field color="accent">
                    <input disabled matInput placeholder="ID (BD)" [(ngModel)]="dataContrato._id" name="_id">
                  </mat-form-field>
                </div>
              </td>
              <td align="left" class="label">
                <div class="form">
                  <mat-form-field color="accent">
                    <mat-label>Natureza</mat-label>
                    <!-- [(ngModel)]="dataContrato.natureza"  -->
                    <mat-select name="natureza">
                      <mat-option>Natureza</mat-option>
                      <mat-option value="CLI" id="">Cliente</mat-option>
                      <mat-option value="COC" id="">Comodato Clientes</mat-option>
                      <mat-option value="COF" id="">Comodato Fornecedores</mat-option>
                      <mat-option value="FOR" id="">Fornecimento</mat-option>
                      <mat-option value="IMO" id="">Imobilizado</mat-option>
                      <mat-option value="LOC" id="">Locação Clientes</mat-option>
                      <mat-option value="LOF" id="">Locação Fornecedores</mat-option>
                      <mat-option value="NDC" id="">NDA Clientes</mat-option>
                      <mat-option value="NDF" id="">NDA Fornecedores</mat-option>
                      <mat-option value="PRO" id="">Procuração</mat-option>
                      <mat-option value="REP" id="">Representação</mat-option>
                      <mat-option value="SEG" id="">Seguro</mat-option>
                      <mat-option value="SER" id="">Serviços</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>
              <td align="left" class="label">
                <div class="form">
                  <mat-form-field color="accent" style="width:8vw">
                    <input matInput placeholder="Depto. Responsavel" [(ngModel)]="dataContrato.deptoResponsavel" name="deptoResponsavel">
                  </mat-form-field>
                </div>
              </td>
              <td align="left" class="label" >
                <!--Lista de departamento Participantes-->
                <div class="mat-elevation-z2">
                  <mat-table #table [dataSource]="dataContrato.deptoPartList">
                    <ng-container matColumnDef="departamento">
                      <!--Coluna-->
                      <mat-header-cell *matHeaderCellDef>Depto. Participantes</mat-header-cell>
                      <!--Nome coluna-->
                      <mat-cell *matCellDef="let row">{{row.departamento}}</mat-cell>
                      <!--Dado na celular vindo de "contratoDataSource"-->
                    </ng-container>
                    <!-- Botões de ação -->
                    <ng-container matColumnDef="btnActions">
                      <mat-header-cell *matHeaderCellDef></mat-header-cell>
                      <mat-cell *matCellDef="let row; let i=index;">
                        <button mat-icon-button color="accent" (click)="removeDeptoPart(i, row.departamento)">
                          <mat-icon aria-label="Documentos">remove</mat-icon>
                        </button>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div>
              </td>
            </div>
          </td>
        </tr>

        <tr>
          <td align="left" class="label" colspan="2">
            <div class="form">
              <mat-form-field color="accent">
                <input matInput placeholder="Parceiro" [(ngModel)]="dataContrato.parceiro" name="parceiro">
              </mat-form-field>
            </div>
            <!--Contains mat-hint for characters count and has maxLengt set-->
          </td>
          <td>
            <div>
              <td>
                <div class="form">
                  <mat-form-field color="accent">
                    <input matInput [textMask]="{mask: cpfCnpjMask, guide: false }" #inputstate class="form-control"
                      placeholder="CPF / CNPJ" [(ngModel)]="dataContrato.cnpj" name="cnpj" maxlength="18 " required>
                    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                    <mat-hint align="end">{{inputstate.value?.length || 0}}/18</mat-hint>
                  </mat-form-field>
                </div>
              </td>
              <td>
                <div class="form">
                  <mat-form-field color="accent">
                    <input matInput disabled placeholder="Cod. Parceiro" name="codParceiro" >
                  </mat-form-field>
                </div>
              </td>
            </div>
          </td>
        </tr>



        <tr>
          <td align="left" class="label" colspan="3">
            <div class="form">
              <mat-form-field color="accent">
                <input matInput #input class="form-control" placeholder="Objeto" [(ngModel)]="dataContrato.objeto"
                  name="objeto" required>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
          </td>
        </tr>

        <!-- Início Linha 4-->
        <tr>
          <!-- Grupo Celulas mesclado Indice/Mensal/Total-->
          <td colspan="3">
            <div>
              <tr>
                <td>
                  <div class="form">
                    <mat-form-field color="accent" style="width:8vw">
                      <input matInput placeholder="Estab. Fiscal" [(ngModel)]="dataContrato.estabFiscal"
                        name="estabFiscal">
                    </mat-form-field>
                  </div>
                </td>
                <td align="left" class="label">
                  <div class="form">
                    <mat-form-field color="accent" style="width:5vw">
                      <input matInput placeholder="Índice" [(ngModel)]="dataContrato.indReajuste"
                        name="indReajuste">
                    </mat-form-field>
                  </div>
                </td>
                <td align="left" class="label">
                  <div class="form">
                    <mat-form-field color="accent" style="width:9vw">
                      <input matInput placeholder="Mensal (R$)" currencyMask [(ngModel)]="dataContrato.valMensal" name="valMensal">
                    </mat-form-field>
                  </div>
                </td>
                <td>
                  <div class="form">
                    <mat-form-field color="accent" style="width:9vw">
                      <input matInput placeholder="Total (R$)" currencyMask [(ngModel)]="dataContrato.valTotal" name="valTotal">
                    </mat-form-field>
                  </div>
                </td>
                <td align="right" class="label">
                  <div class="form">
                    <mat-form-field color="accent" style="width:8vw">
                      <input matInput placeholder="Início Contrato" [matDatepicker]="dpDataInicio"
                        [(ngModel)]="dataContrato.dataInicio" name="dataInicio">
                      <mat-datepicker-toggle matSuffix [for]="dpDataInicio"></mat-datepicker-toggle>
                      <mat-datepicker #dpDataInicio></mat-datepicker>
                    </mat-form-field>
                  </div>
                </td>
                <td align="right" class="label">
                  <div class="form">
                    <mat-form-field color="accent" style="width:8vw">
                      <input matInput placeholder="Fim Contrato" [matDatepicker]="dpDataFim"
                        [(ngModel)]="dataContrato.dataFim" name="dataFim">
                      <mat-datepicker-toggle matSuffix [for]="dpDataFim"></mat-datepicker-toggle>
                      <mat-datepicker #dpDataFim></mat-datepicker>
                    </mat-form-field>
                  </div>
                </td>
                <td align="right" class="label" valign="top">
                  <div class="form">
                    <mat-form-field color="accent" style="width:8vw">
                      <input matInput placeholder="Dias Antecedência" [(ngModel)]="dataContrato.diaAntecedencia"
                        name="diaAntecedencia">
                    </mat-form-field>
                  </div>
                </td>
              </tr>
            </div>
          </td>

          <!-- Fim Grupo -->
        </tr>
        <!-- Fim Linha 4 -->


        <!-- Início Linha 5 -->
        <tr>
          <!-- Grupo Celulas mesclado Juridico/Situação -->
          <td colspan="2">
            <div class="form">
              <td align="left" class="label">
                <mat-form-field color="accent" style="width:8vw">
                  <input matInput placeholder="Status" [(ngModel)]="dataContrato.status" name="status" >
                </mat-form-field>
              </td>
              <td align="right" class="label">
                <mat-form-field color="accent" style="width:8vw">
                  <input matInput placeholder="Situação" [(ngModel)]="dataContrato.situacao" name="situacao">
                </mat-form-field>
              </td>
              <td align="right" class="label">
                <mat-checkbox class="form" matInput [(ngModel)]="dataContrato.anaJuridico" name="anaJuridico">Anál.
                  Jurídica</mat-checkbox>
                </td>
            </div>
          </td>
          <td align="left" colspan="2">
            <div class="form">
              <app-file></app-file>
            </div>
          </td>
          <!-- Fim Grupo-->

        </tr>
        <!-- Fim Linha 5 -->


        <!-- Início Linha 6 -->
        <tr>
          <td align="left" class="label">
            <div class="form">
              <mat-form-field color="accent">
                <textarea matInput #input class="form-control" placeholder="Observações" [(ngModel)]="dataContrato.obs"
                  name="obs"></textarea>
              </mat-form-field>
            </div>
          </td>
        <!-- Fim Linha 6 -->



      </tbody>
    </table>
  </form>
      <div mat-dialog-actions>
        <button mat-button>
          Editar
          <mat-icon aria-label="Documentos">edit</mat-icon>
        </button>
        <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">
          Salvar
          <mat-icon aria-label="Documentos">save</mat-icon>
        </button>
        <button mat-button (click)="onCancelarClick()" tabindex="-1">
          Cancelar
          <mat-icon aria-label="Documentos">cancel</mat-icon>
        </button>
      </div>
</div>
