<div class="container">
  <h2 mat-dialog-title>Objeto: {{dataContrato.objeto}}</h2>
  <h3 mat-dialog-title>ID: {{dataContrato._id}}</h3>
  <div mat-dialog-content>
    <!-- Colunas (Configurar ordem das colunas em file.dialog.component.ts) -->
    <mat-table #table [dataSource]="dataContrato.documentoList" matSort class="mat-cell">
      <ng-container matColumnDef="numAditivo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Numero do Ativo</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.numAditivo}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="dataInsert">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Inserido em</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.dataInsert}}</mat-cell>
      </ng-container>

      <!-- Botões de ação -->
      <!-- <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="downloadFile()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="accent" (click)="downloadFile(i, row._id)">
            <mat-icon aria-label="Documentos">folder</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    </mat-table>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onSairClick()" tabindex="-1">Sair</button>
  </div>
</div>
