<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Contratos</span>
    <span class="spacer"></span>
    Recarregar
    <button mat-icon-button (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Buscar algo :)">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="contratoDataSource"
             matSort class="mat-cell"
             matSortActive="created"
             matSortDirection="desc">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="_id"> <!--Coluna-->
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID-BD</mat-header-cell><!--Nome coluna-->
      <mat-cell *matCellDef="let row" >{{row._id}}</mat-cell><!--Dado na celular vindo de "contratoDataSource"-->
    </ng-container>

    <ng-container matColumnDef="idSecondary">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.idSecondary}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="objeto">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Objeto</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.objeto}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="estabFiscal">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Estab. Fiscal</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.estabFiscal}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="parceiro">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Parceiro</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.parceiro}}</mat-cell>
    </ng-container>

    <!-- TODO: Mascarar campo CNPJ usar [textMask] -->
    <ng-container matColumnDef="cnpj">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CNPJ</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.cnpj}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.status}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="situacao">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Situação</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.situacao}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="deptoResponsavel">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Depto. Responsável</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.deptoResponsavel}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="valTotal">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Valor Tot.</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.valTotal |  number:'4.5-5':'pt'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dataInicio">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Início Contrato</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.dataInicio | date:'shortDate'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dataFim">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fim Contrato</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.dataFim | date: 'shortDate'}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="btnActions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="insertContrato()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="editContrato(i,
                                                                     row._id,
                                                                     row.idSecondary,
                                                                     row.objeto,
                                                                     row.estabFiscal,
                                                                     row.parceiro,
                                                                     row.cnpj,
                                                                     row.status,
                                                                     row.situacao,
                                                                     row.deptoResponsavel,
                                                                     row.deptoPartList,
                                                                     row.valTotal,
                                                                     row.valMensal,
                                                                     row.indReajuste,
                                                                     row.anaJuridico,
                                                                     row.diaAntecedencia,
                                                                     row.dataInicio,
                                                                     row.dataFim,
                                                                     row.obs,
                                                                     row.documentoList,
                                                                     row.natureza)">
          <mat-icon aria-label="Editar">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteContrato(i, row._id, row.objeto, row.cnpj, row.parceiro)">
          <mat-icon aria-label="Apagar">delete</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="showFile(i, row._id, row.objeto, row.documentoList)">
          <mat-icon aria-label="Documentos">folder</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row><!--Recebe Array de string com o nome/ordem das colunas que seram mostradas ou não acima-->
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="contratoDataSource.renderedData.length == 0 ? '' : 'none'">
    Sem resultado(s)
  </div>

  <mat-paginator #paginator
                 [length]="contratoDataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="100"
                 [pageSizeOptions]="[5, 10, 25, 100, 400]">
  </mat-paginator>
</div>
